terraform {
  required_version = ">= 1.5"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = ">= 5.0"
    }
  }
}

provider "aws" {
  region = var.region
{%- if aws_profile %}
  profile = "{{ aws_profile }}"
{%- endif %}
  default_tags {
    tags = {
      Project     = var.project
      ManagedBy   = "remote-compose"
{%- if environment %}
      Environment = "{{ environment }}"
{%- endif %}
{%- if expires_at %}
      Ephemeral   = "true"
      ExpiresAt   = "{{ expires_at }}"
{%- endif %}
    }
  }
}
