{%- if not existing_alb -%}
resource "aws_security_group" "alb" {
  name        = "${var.project}-alb"
  description = "Allow public HTTP(S) into the load balancer."
  vpc_id      = {{ vpc_id_ref }}

  ingress {
    from_port   = 80
    to_port     = 80
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
  ingress {
    from_port   = 443
    to_port     = 443
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
}
{%- endif %}

resource "aws_security_group" "tasks" {
  name        = "${var.project}-tasks"
  description = "ECS task traffic - only from the ALB and within the VPC."
  vpc_id      = {{ vpc_id_ref }}

  ingress {
    from_port       = 0
    to_port         = 0
    protocol        = "-1"
    security_groups = {{ tasks_alb_ingress_ref }}
  }
  ingress {
    from_port = 0
    to_port   = 0
    protocol  = "-1"
    self      = true
  }
  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }
}
